---
title: welcome
---


<!DOCTYPE html>
<html>
<head lang="en">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<meta charset="UTF-8">
	<title>DDelivery</title>
</head>
<body>

	<h1>Hi</h1>

	<h2>Page</h2>
	<pre>page.content:  page.content </pre>
	<pre>page.title: {{ page.title }}</pre>
	<pre>page.excerpt: {{ page.excerpt }}</pre>
	<pre>page.url: {{ page.url }}</pre>
	<pre>page.date: {{ page.date }}</pre>
	<pre>page.id: {{ page.id }}</pre>
	<pre>page.categories: {{ page.categories }}</pre>
	<pre>page.tags: {{ page.tags }}</pre>
	<pre>page.path: {{ page.path }}</pre>
	<pre>page.next: {{ page.next }}</pre>
	<pre>page.previous: {{ page.previous }}</pre>


	<h2>Site.github</h2>
	<script>window.github = {{ site.github }} </script>
	<ul>
		{% for repo in site.github.public_repositories %}
		<li>
			<a href="{{ site.github.url }}/{{ repo.name }}/">{{ repo.name }}</a>
		</li>
		{% endfor %}
	</ul>


	<h2>Site</h2>
	<pre>site: {{ site }}</pre>
	<pre>site.time: {{ site.time }}</pre>
	<pre>site.pages:</pre>
	<ul>
		{% for page in site.pages %}
		<li>
			<a href="{{ page.url }}">{{ page.title }}</a>
		</li>
		{% endfor %}
	</ul>

	<pre>site.posts:</pre>
	<ul>
		{% for post in site.posts %}
		<li>
			<a href="{{ post.url }}">{{ post.title }}</a>
		</li>
		{% endfor %}
	</ul>


	<pre>site.related_posts:</pre>
	<ul>
		{% for related_post in site.related_posts %}
		<li>
			<a href="{{ related_post.url }}">{{ related_post.title }}</a>
		</li>
		{% endfor %}
	</ul>

	<pre>site.static_files: {{ site.static_files }}</pre>
	<ul>
		{% for file in site.static_files %}
		<li>
			<a href="{{ file.url }}">{{ file.title }}</a>
		</li>
		{% endfor %}
	</ul>


	<pre>site.html_pages:</pre>
	<ul>
		{% for html_page in site.html_pages %}
		<li>
			<a href="{{ html_page.url }}">{{ html_page.title }}</a>
		</li>
		{% endfor %}
	</ul>

	<pre>site.html_files:</pre>
	<ul>
		{% for html_file in site.html_files %}
		<li>
			<a href="{{ html_file.url }}">{{ html_file.title }}</a>
		</li>
		{% endfor %}
	</ul>

	<pre>site.collections:</pre>
	<ul>
		{% for collection in site.collections %}
		<li>
			<a href="{{ collection.url }}">{{ collection.title }}</a>
		</li>
		{% endfor %}
	</ul>
	<pre>site.data: {{ site.data }}</pre>

	<pre>site.documents:</pre>
	<ul>
		{% for document in site.documents %}
		<li>
			<a href="{{ document.url }}">{{ document.title }}</a>
		</li>
		{% endfor %}
	</ul>
	<pre>site.categories.CATEGORY: {{ site.categories.CATEGORY }}</pre>
	<pre>site.tags.TAG: {{ site.tags.TAG }}</pre>
	<pre>site.[CONFIGURATION_DATA]: {{ site.[CONFIGURATION_DATA] }}</pre>


	<h2>Paginator</h2>
	<pre>paginator.per_page: {{ paginator.per_page }}</pre>
	<pre>paginator.posts: {{ paginator.posts }}</pre>
	<pre>paginator.total_posts: {{ paginator.total_posts }}</pre>
	<pre>paginator.total_pages: {{ paginator.total_pages }}</pre>
	<pre>paginator.page: {{ paginator.page }}</pre>
	<pre>paginator.previous_page: {{ paginator.previous_page }}</pre>
	<pre>paginator.previous_page_path: {{ paginator.previous_page_path }}</pre>
	<pre>paginator.next_page: {{ paginator.next_page }}</pre>
	<pre>paginator.next_page_path: {{ paginator.next_page_path }}</pre>



</body>