---
title: welcome
---


<!DOCTYPE html>
<html>
<head lang="en">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<meta charset="UTF-8">
	<title>DDelivery</title>
	<link rel="stylesheet" href="{{ site.github.url }}/assets/css/style.css">
</head>
<body>

	<h1>Hi</h1>

	<h2>Page</h2>
	<pre>page.content:  page.content </pre>
	<pre>page.title: {{ page.title }}</pre>
	<pre>page.excerpt: {{ page.excerpt }}</pre>
	<pre>page.url: {{ page.url }}</pre>
	<pre>page.date: {{ page.date }}</pre>
	<pre>page.id: {{ page.id }}</pre>
	<pre>page.categories: {{ page.categories }}</pre>
	<pre>page.tags: {{ page.tags }}</pre>
	<pre>page.path: {{ page.path }}</pre>
	<pre>page.next: {{ page.next }}</pre>
	<pre>page.previous: {{ page.previous }}</pre>


	<h2>Site</h2>
	<pre>site: {{ site }}</pre>
	<pre>site.time: {{ site.time }}</pre>
	<pre>site.pages: site.pages</pre>
	<ul>
	{% for page in site.pages %}
		<li>
			<a href="{{ page.url }}">{{ page.title }}</a>
		</li>
	{% endfor %}
	</ul>

	<h2>Site.github</h2>
	<pre>site.github: {{ site.github }}</pre>
	<script>window.github = {{ site.github }} </script>
	<ul>
		{% for repo in site.github.public_repositories %}
		<li>
			<a href="{{ site.github.url }}/{{ repo.name }}/">{{ repo.name }}</a>
		</li>
		{% endfor %}
	</ul>




</body>