<style>
  header {
    overflow: auto;
    height: calc(100vh - 60px);
    padding-bottom: 20px;
    box-sizing: border-box;
  }

  nav a {
    display: block;
  }

  h3  {
    margin-top: 15px;
    margin-bottom: 8px;
  }

  h5 {
    margin: 10px 0 3px;
  }
</style>

<div><a href="{{ site.github.url }}">site.github.url</a></div>

<h3>Collections</h3>
<nav>
  {% for collection in site.collections  %}
  <a href="{{ collection.url }}">{{ collection.title }}</a>
  {% endfor %}
</nav>

<h3>Documents</h3>
<nav>
  {% for doc in site.documents %}
  <a href="{{ doc.url }}">{{ doc.title }}</a>
  {% endfor %}
</nav>

<h3>Pages</h3>
<nav>
  {% for page in site.pages %}
  <a href="{{ page.url }}">{{ page.title }}</a>
  {% endfor %}
</nav>

<h3>Posts</h3>
<nav>
  {% for post in site.posts %}
  <a href="{{ post.url }}">{{ post.title }}</a>
  {% endfor %}
</nav>

<h3>Categories</h3>
{% for category in site.categories %}
<h5>{{ category[0] }}</h5>
<nav>
  {% for post in category[1] %}
  <a href="{{ post.url }}">{{ post.title }}</a>
  {% endfor %}
</nav>
{% endfor %}

<h3>Tags</h3>
{% for tag in site.tags %}
<h5>{{ tag[0] }}</h5>
<nav>
  {% for post in tag[1] %}
  <a href="{{ post.url }}">{{ post.title }}</a>
  {% endfor %}
</nav>
{% endfor %}


<h3>Public repositories</h3>
<nav>
  {% for repository in site.github.public_repositories %}
    {% if repository.has_pages %}
      <a href="{{ repository.url }}">{{ repository.name }}</a>
    {% endif %}
  {% endfor %}
</nav>
